{% extends 'base.html.twig' %}

{%  block body %}
    <div class="home">
        <div id="contrat" class="gauche"><a href="{{ path('addContrat') }}">Ajout d'un contrat</a></div>
        <div class="droite">Gestion des contrats</div>

        <div class="gauche">Gestion des fiches de paie</div>
        <div class="droite">Autres</div>
    </div>
{% endblock %}
