{% extends 'base.html.twig' %}

{%  block body %}
    <div class="home">
        <div id="contrat" class="gauche">Ajout d'un contrat</div>
        <div class="droite">Gestion des contrats</div>

        <div class="gauche">Gestion des fiches de paie</div>
        <div class="droite">Autres</div>
    </div>
{% endblock %}
