{% extends 'base.html.twig' %}

{%  block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            <script>
                swal(
                        'Félicitations!',
                        '{{ message }}',
                        'success'
                )
            </script>
        </div>
    {% endfor %}
    <div class="home">
        <div id="contrat" class="gauche"><a href="{{ path('addContrat') }}">Ajout d'un contrat</a></div>
        <div class="droite"><a href="{{ path('GestionContrat') }}">Gestion des contrats</a></div>

        <div class="gauche">Gestion des fiches de paie</div>
        <div class="droite">Autres</div>
    </div>
{% endblock %}
